    body {
      background-image: url(https://i.pinimg.com/736x/ed/d5/44/edd544bd6b033a1d82b1df1af87b3f0a.jpg);
      background-repeat: no-repeat;
      background-origin: content-box;
      background-size: cover;
      color: black;
      font-style: italic;
      font-size: large;
      margin: 100px auto;
      text-align: center;
          
    

    }

    .titulo {background-color: rgb(199, 166, 231);
    
    }

    #container {
      width: 60%;
      margin: 0px auto;
    }


    .logo {
      width: 500px;
      height: 400px;
      margin: 0px auto;
    }

    #stn-pay {
      border: 4px solid rgb(6, 6, 91);
      border-radius: 100px;
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25), 0px 15px 15px rgba(0, 0, 0, 0.25), inset 0px 15px 15px rgba(0, 0, 0, 0.25);

    }
    

    footer {
      color: black;
      background-color: rgb(199, 166, 231);
      
    }

    img#card {
      width: 30%;
      height: 30%;
      margin: auto;
    }

    img#card2 {
      width: 30%;
      height: 30%;
      margin: auto;
    }

    button#btn-pay.btn-pay-style {
      color: black;
      background-color: rgb(224, 195, 158);
      border-radius: 50px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25), 0px 8px 8px rgba(0, 0, 0, 0.25), inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    }

    button#btn-pay2.btn-pay-style {
      color: rgb(8, 4, 117);
      background-color: rgb(224, 195, 158);
      border-radius: 50px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25), 0px 8px 8px rgba(0, 0, 0, 0.25), inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    }

    button#btn-pay3.btn-pay-style {
      color: rgb(8, 4, 117);
      background-color: rgb(224, 195, 158);
      border-radius: 50px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25), 0px 8px 8px rgba(0, 0, 0, 0.25), inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    }

    #validacion {
      margin-bottom: 20px;
      width: 80px;
      height: 30px;
      color: rgb(8, 4, 117);
      background-color:  rgb(224, 195, 158);
      border-radius: 50px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

   